{% extends 'base.html.twig' %}

{% block title %}Allo pizza{% endblock %}

{% block body %}
<h1>Allo Pizza</h1>
    <p>Bienvenue sur Allo pizza</p>
    <p>cliquer <a href="{{ path('order') }}">ici</a> pour commander</p>
{% endblock %}
