<div class="card text-white bg-secondary mb-3" style="max-width: 20rem;">
    <div class="card-body">
        <p>{{ purchase.fullname }}</p>
        <p>{{ purchase.adresse }}</p>
        <p>{{ purchase.zipcode }}</p>
        <p>{{ purchase.city }}</p>
    </div>
</div>